body {
    background-color:#ced4da;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-primary-custom {
    background-color: #50C5FF;
    color: black;
    border: none;
}

.btn-primary-custom:hover {
    background-color: #50C5FF;
    color: black;
}

.card-custom {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 600px;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    min-height: 30vh;
}

@media (max-width: 576px) {
    .card-custom {
        position: sticky;
        top: 10px;
        z-index: 1000;
    }
}

.form-control-custom {
    height: 50px;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
}

.form-control-custom:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.icon {
    text-align: center;
    margin-bottom: 20px;
    font-size: 5rem;
    color: #131313;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotate 2s linear infinite;
}

.rotating {
    animation: rotate 2s linear infinite;
}